name: Release new artifact version

on:
    push:
        branches:
        - master

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v3
        - name: Set up JDK 18
          uses: actions/setup-java@v3
          with:
              java-version: '18'
              distribution: 'adopt'
              cache: maven
        - name: Build with Maven
          run: mvn --batch-mode --update-snapshots verify
        - name: Upload Artifact
          run: mkdir staging && cp target/*.jar staging
          uses: actions/upload-artifact@v3
          with:
              name: Package
              path: staging

